
keys_secrets.json
__pycache__/test.cpython-310.pyc
__pycache__/GoogleSpreadsheet.cpython-310.pyc
__pycache__/PreownedReaderFromSpreadsheet.cpython-310.pyc
*.pyc
__pycache__/PreownedReaderFromSpreadsheet.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/PreownedReaderFromSpreadsheet.cpython-310.pyc
*.pyc
*.pyc
